body {
  font-family: 'Roboto';
  top: 0;
  left: 0;
  background-color: var(--background-color);
  color: var(--color);
  overflow-x: hidden;
}

#container{
  max-width: 1120px; 
  margin-left: auto;
  margin-right: auto;
}