body {
  font-family: 'Roboto';
  top: 0;
  left: 0;
  background-color: var(--background-color);
  color: var(--color);
  overflow-x: hidden;
}

#container{
  margin: 0 119px;
  padding: 0;
}

@media (max-width: 1366px) {
  #container {
    margin: 0 123px;
    padding: 0;
  }
}

@media (max-width: 1024px) {
  #container {
    margin: 0 42px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  #container {
    margin: 0 34px;
    padding: 0;
  }
}

@media (max-width: 550px) {
  #container {
    margin: 0 5px;
    padding: 0;
  }
}
