.Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}

.logo {
  stroke: var(--logo-color);
}

@media (max-width: 767px) {
  .Head {
    margin: 25px 0;
  }
}
