.Gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));                      
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.PaintingContainer {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 275px;
  overflow: hidden;
}

.PaintingContainer > img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;   
}

.PaintingContainer > .AboutPainting {
  position: absolute;
  bottom: 0px;
  box-sizing:border-box;
  width: 100%;
  height: 30px;
  background-color: white;
  color: black;;
  opacity: 75%;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 5px 15px 0;
  border-radius: 0 0 20px 20px;
  cursor: default;
}

.PaintingName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 5px;
}

.TitleAbout {
  font-size: 13px;
  font-weight: bold;
}

.TextAbout {
  font-size: 13px;
  font-weight: normal;
}

@media (max-width: 1366px) {
  .Gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .PaintingContainer {
    max-width: 100%;
    max-height: 275px;
  }
}

@media (max-width: 1024px) {
  .Gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .PaintingContainer {
    max-width: 100%;
    max-height: 230px;
  }
  .Touch > .AboutPainting{
    transition: 1s;
    height: 140px;
  }
  .Touch > .AboutPainting > .PaintingName{
    white-space: normal;
  }
}


@media (max-width: 768px) {
  .Gallery {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .PaintingContainer {
    max-width: 100%;
    max-height: 249px;
  }
}

@media (max-width: 550px) {
  .Gallery {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .PaintingContainer {
    max-width: 100%;
    max-height: 205px;
  }
  .Touch > .AboutPainting{
    transition: 1s;
    height: 120px;
  }
  .Touch > .AboutPainting > .PaintingName{
    white-space: normal;
  }
}

@media (any-hover: hover) {
  .PaintingContainer:hover .AboutPainting {
    transition: 1s;
    height: 145px;
  }
  
  .PaintingContainer:hover .AboutPainting > .PaintingName {
    white-space: normal;
  }
}
