html,
body,
#root {
  height: 100%;
  width: 100%;
}

html[data-theme='dark'] {
  --background-color: #000000;
  --color: #ffffff;

  --logo-color: #4C4C4C;
  --arrow-select-color: #FFFFFF;
  --remove-icon-color: #555555; 
  --border-color: rgba(255, 255, 255, 0.3);
  --input-range-color: #ffffff;
  --filter-background-color: #0C0C0C;
  --pagination-background-color: #000000;
  --pagination-color: #ffffff;
  --pagination-hover: #464646;
}

html[data-theme='light'] {
  --background-color: #ffffff;
  --color: #000000;

  --logo-color: #4C4C4C;
  --arrow-select-color: #000000;
  --remove-icon-color: #555555; 
  --border-color: rgba(0, 0, 0, 0.3);
  --input-range-color: #EFEFEF;
  --filter-background-color: #FFFFFF;
  --pagination-background-color: #ffffff;
  --pagination-color: #000000;
  --pagination-hover: #EDEDED;
}
